.center-card {
    margin: auto;
    max-width: 600px;
    padding: 30px;
    // border-radius: 10px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // background-color: white;
    margin-top: 10px;
}

    mat-form-field {
        width: 100%;
    }